<launch>
  <!-- Setup emtpy world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- Load and spawn robot description -->
  <param name="robot_description" command="xacro --inorder $(find reactor_description)/robots/reactor_description.gazebo.xacro"/>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model reactor_description" output="screen" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>
</launch>
